    .slide-list{
    width: 50%;
    margin-top: 100px;
    transition: all 1s ease;
    display: flex;
}
.slide-content{
    transition: all 0.4s ease;
    overflow: hidden;
    margin-top: 100px;
    z-index: -1;
}

.slide-content {
    width: 73%;
    margin: 0;
    margin-left: 300px;
    height: 700px;
}
  
  
    